<div
  class="upload-container"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  (paste)="onPaste($event)"
>
  <div class="upload-left">
    <div class="upload-header">
      <p>Drop, Upload, or Paste image</p>
      <p>Supported formats: JPG, PNG, JPEG</p>
    </div>
    <div class="upload-actions">
      <button class="browse-button" (click)="fileInput.click()">📂 Browse</button>
      <input
        type="file"
        #fileInput
        (change)="onFileSelect($event)"
        style="display: none;"
      />
    </div>
  </div>

  <div *ngIf="selectedImage" class="upload-right">
    <h3>Selected Image:</h3>
    <img [src]="selectedImage" alt="Preview" class="preview-image" />
    <div class="button-group">
      <button (click)="onSubmit()" class="submit-button">Submit</button>
      <button (click)="clearSelection()" class="clear-button">Clear</button>
    </div>
  </div>
</div>

<div class="form-container">
  <form (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="carteType">Student Carte:</label>
      <input
        type="text"
        id="carteType"
        [(ngModel)]="carteType"
        name="carteType"
        required
      />
    </div>
    <div class="form-group">
      <label for="studentName">Student Name :</label>
      <input
        type="text"
        id="studentName"
        [(ngModel)]="studentName"
        name="studentName"
        required
      />
    </div>
    <div class="form-group">
      <label for="schoolYear">School Year:</label>
      <input
        type="text"
        id="schoolYear"
        [(ngModel)]="schoolYear"
        name="schoolYear"
        required
      />
    </div>
    
    <div class="form-group">
      <label for="SchoolAdress">School Adress:</label>
      <input
        type="text"
        id="SchoolAdress"
        [(ngModel)]="idCode"
        name="SchoolAdress"
        required
      />
    </div>
    
    <button type="submit" class="form-submit-button">Submit</button>
  </form>
</div>
